<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Journalism Body | IIT Bhubaneswar</title>
  <link rel="shortcut icon" type="image/x-icon" href="../assets/img/gallery/Oracle_Logo.png">
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="home page-template page-template-homepage page-template-homepage-php page page-id-64 splash-parallax normal-home">
  <header >
    <section id="brand-bar" data-ga-category="Brand bar" data-ga-action="Gateway nav">
      <a href="/" class="su-brand" rel="home" id="header--wordmark" data-ga-action="Wordmark" style="margin:0; position:absolute; left:3em; float:left;">
        Oracle
      </a>
      <nav role="navigation" id="gateway" class="menu-gateway-nav-container" style="display:block; height:100%; background-color:#820000; float:left; position:absolute; top:0em; left:18em;">
        <ul id="menu-gateway-nav" class="menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page" style="height:100%; margin-top:0.8em; padding-right:10px; padding-left:10px;">
                <div style="color:#fff; ">
                    Recent Articles <i class="fa fa-bullhorn"></i>
                </div>
            </li>
        </ul>
      </nav>
      <nav role="navigation" id="gateway" class="menu-gateway-nav-container" style=" float:left; position:absolute; left:26.3em;">
        <ul id="menu-gateway-nav" class="menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page" style="margin-top:0.3em;">
                <div class="carousel" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="articles/0" style="color:#fff"><%= article[0].name %></a>
                        </div>
                        <% for(var i=1;i<article.length;i++){%>
                        <div class="carousel-item">
                            <a href="articles/<%=i%>" style="color:#fff"><%= article[i].name %></a>
                        </div>
                        <% } %>
                    </div>
                </div>
            </li>
        </ul>
      </nav>
      
      <nav id="gateway" class="menu-gateway-nav-container">
        <ul id="menu-gateway-nav" class="menu">
            <% if (!isLogged) { %>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/auth/google"><i class="fa fa-user"></i>&nbsp; Login</a></li>
            <% } else { %>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a><i class="fa fa-user"></i>&nbsp;<%=user.name %>&nbsp;</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/logout"><i class="fa fa-sign-out"></i>&nbsp; Logout</a></li>
            <%}%>
        </ul>
      </nav>  
    </section>
    <div id="menu-overlay" aria-hidden="true" role="presentation"></div>
    <nav id="site-navigation" role="navigation" data-ga-category="Top nav">
      <div class="menu-primary-nav-container">
        <ul id="primary-menu" class="menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Home</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/studentlife">Student Life</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/career">Career</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/alumni">Alumni</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/scitech">Sci Tech</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/cult">Cult</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/sports">Sports</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/aboutus">About</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav> 

    <!-- <section class="panel-collection" data-modular-content-collection>

        <section class="panel theme--choco" data-type="splash-image" data-modular-content data-js="panel" data-index="0" data-scroll-type="parallax" data-logo-loc-v="middle" data-logo-loc-h="center" data-ga-category="Splash Panel">

            <p id="splash--scroller"><a href="#main-content" data-ga-action="Splash screen scroller">Explore IIT BBS</a></p>

            <picture aria-hidden="true" tabindex="-1">
                <img class="img-fluid" role="presentation" alt="" src="assets/img/gallery/banner.jpg">
            </picture>
    
        </section>

    </section> -->

  </header>

    <main>
        <div class="slider-area ">
            <div class="slider-height2 d-flex align-items-center"></div>
        </div>

        <div style="width:100vw; margin-top:-14vh;">
            <img style="display:block; margin:auto; background-color:white;" class="rounded-circle" src="https://plugins.krajee.com/samples/default-avatar-male.png">
            <h3 align="center">Soumyajith Ghosh</h3>
            <p align="center"> BIO , passed out student from school of electrical sciences . passed out in 2020. he has been a member of panacea , the literary society for almost 4 years. </p>
        </div>


    </main>

    <footer>
        <!--? Footer Start-->
        <div class="footer-area footer-bg">
            <div class="container">
                <div class="footer-top footer-padding pa">
                    <!-- Footer Menu -->
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-4 col-lg-4">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Contact Us</h4>
                                    <ul style="padding:0; margin:0;">
                                        <li>Email : media@iitbbs.ac.in</li>
                                        <li><h>Media Body</h></li>
                                        <li>IIT Bhubaneswar</li>
                                        <li>Argul, Jatni</li>
                                        <li>Khorda, Odisha-752050</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Quick Links</h4>
                                    <ul style="padding:0; margin:0;"> 
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">IIT Bhubaneswar</a></li>
                                        <li><a href="#">Student Gymkhana</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Reach us at</h4>
                                    <div class="footer-social">
                                       
                                        <a href=""><i class="fa fa-facebook-f"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <!-- <a  href="#"><i class="fab fa-google"></i></a> -->
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Bottom -->
                <div class="footer-bottom" style="padding-bottom: 0; padding-top: 0;">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-12">
                            <div class="footer-copy-right text-center">
                                <p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    
    <script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
        $('.slider').slick({
            dots:true,
            arrows:true,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1500,
            });
        });
	</script>
    </body>
</html>
