    <footer>
        <!--? Footer Start-->
        <div class="footer-area footer-bg">
            <div class="container">
                <div class="footer-top footer-padding pa">
                    <!-- Footer Menu -->
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-4 col-lg-4">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Contact Us</h4>
                                    <ul style="padding:0; margin:0;">
                                        <li>Email : media@iitbbs.ac.in</li>
                                        <li><h>Media Body</h></li>
                                        <li>IIT Bhubaneswar</li>
                                        <li>Argul, Jatni</li>
                                        <li>Khorda, Odisha-752050</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Quick Links</h4>
                                    <ul style="padding:0; margin:0;"> 
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">IIT Bhubaneswar</a></li>
                                        <li><a href="#">Student Gymkhana</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Reach us at</h4>
                                    <div class="footer-social">
                                       
                                        <a href=""><i class="fa fa-facebook-f"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <!-- <a  href="#"><i class="fab fa-google"></i></a> -->
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Bottom -->
                <div class="footer-bottom" style="padding-bottom: 0; padding-top: 0;">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-12">
                            <div class="footer-copy-right text-center">
                                <p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
        $('.slider').slick({
            dots:true,
            arrows:true,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1500,
            });
        });
	</script>
    </body>
</html>
